.sidemargin{
    margin: 0px 350px;
}
.securitycontainer{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.security_image img{
    width:100%;
}
.security_texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}
.security_texts p{
    width: 60%;
    line-height: 30px;
}