.sidemargin{
    margin: 0px 350px;
}
.herocontainer{
    margin-top: 50px;
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.hero_texts{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hero_texts_button{
    width: fit-content;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #0089FF;
    color: white;
    cursor: pointer;
}
.hero_texts_button a{
    color: white;
}

.hero_texts h1{
    width: 100%;
}
.hero_texts p{
    width: 80%;
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
}
.hero_texts_download{
    display: flex;
    gap: 20px;
}
.hero_texts_download button{
    width: 180px;
    padding: 15px 5px;
    border-radius: 10px;
    background-color: #122231;
}
.hero_texts_download button a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}
.hero_texts_download img{
    width: 15%;
}

.hero_image_holder{
    width:50%;
    object-fit: contain;
}
.hero_image_holder img{
    width: 100%;
}