/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#F2F7F8;
    font-family: "Plus Jakarta Sans", sans-serif, "Poppins", sans-serif;
}

b{
    font-weight: 500;
    color: black;
}
h1{
    font-size: 51px;
}
h2{
    font-size: 28px;
    font-weight: 500;
}
h3{
    font-size: 20px;
    font-weight: 300;
}


